#Header1{
    position: relative;
}

#Home-link{
    text-decoration: none;
    color: black;
}

.Header-line{
    position: relative;
    width: 100%;
}
#navbar-elements{
    padding: 10px;
}
#Img-logo{
    height: 33px;
    width: 37px;
}
#Name-logo{
    margin-left: 11px;
    font-size: 32px;
    font-family: 'Righteous';
}